@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #788288;
	background-color: #F2F4F8;
	-webkit-font-smoothing: antialiased;
	line-height: 1.53846154;
	background: #84e38d url('http://agilehack.demonic.me/ui/top_bg.png') repeat-x 0px 80px;
}

/*# Top Bar #*/
#topBar {
	background: #70c4cc;
	color: #FFF;
	height: 80px;
}

#topBar .user-person {
	line-height: 80px;
	font-size: 30px;
}

#topBar .base-health {
	line-height: 80px;
	font-size: 40px;
	text-align: right;
	color: #c0392b;
}

.ui-container {
	margin-top: 40px;
}

.progress_areas {
	margin: 100px 0 0 40px;
}

.progress_areas ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.newc {
	margin: 100px 0 0 0 ;
}